.changes:active {
    animation: text 3s 1;
}

@keyframes text {
    0%{
        font-size: 30px;
    }
    30%{
        font-size: 75px;
    } 
    85%{
        font-size: 150px;  
    }
}

.changes:hover {
    transition: transform 2s;
    transform: scale(1.5);
}